* {
  box-sizing: border-box;
}
body{
font-family: sans-serif;
width: 90%;
margin: 0 auto;

}
.banner_principal{

  position: absolute;
  z-index: -1;
  width: 75%;
}
img.mastercard{

  width: 21%;
  margin-top: 4vh;
}
.container{

/*background-image: url(../img/imagen-principal.jpg);*/
display: flex;
flex-flow: column;
align-items: center;
width: 90%;
margin: 0 auto;
}

.formulario{

    margin-top: 30vh;
    background-color: #5D5B59;
    width: 40%;
    border-radius: 3%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 4px;
}
.banner_mastercard{
  margin-top: 2vh;
  width:40%;
}
.formulario h1{

color: white;
font-size: 20px;
text-align: center;
margin-bottom: 0;

}

.formulario p.comunicate{


    color: #F39C12  ;
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
    text-underline-position: under;


}

.comunicateAl{

  background-color: #F39C12;
  border-radius: 6px;
  width: 50%;
  text-align: center;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding: 5px;
}

.comunicateAl p{
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 10px;
}

.comunicateAl h3{
   color: white;
   margin-top: 0;
   margin-bottom: 0;
   font-size: 26px;

}
form label {
  color: white;
}
form div{
  display: flex;
  flex-flow: column;
  width: 38%;
  margin-top: 1.5vh;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.articulos{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 54%;
  background-color: #E4E1DD;
  margin-top: 8vh

}

.art-add{
  width: 30%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

article.art-add img{

width: 30%;
margin: -25px;

}

article.art-add p{
   font-size: 10px;
  padding: 12px;

}

.enviar input{

  background-color: #5D5B59;
  color: #F39C12;
  border-color: #F39C12;
  width: 44%;
  margin-bottom: 12px;
  border-radius: 5px;

}
div.enviar {

  display: flex;
  flex-flow: row;
  justify-content: space-between;

}
