* {
  box-sizing: border-box;
}

body{
  background-image: url(../img/imagen-principal-bordeNaranja-mobile.jpg);
  background-size: cover;
height: 48vh;
background-position-x: 46%;
background-repeat: no-repeat;
font-family: 'Fira Sans', sans-serif;
}

.llamar-enviar:hover{

   color: white;
   border-color: white;
   background-color: #F39C12;


}
img.mastercard {
    width: 50%;
    margin-top: 1.5vh;
}
.container{


display: flex;
flex-flow: column;
align-items: center;
width: 90%;
margin: 0 auto;
}

.formulario {
    background-color: #5D5B59;
    border-radius: 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 8px;
    margin-top: 30vh;
}
h1 {
   color: white;
   font-size: 2.4vh;
   text-align: center;
   margin-bottom: 0.5vh;
   font-style: italic;


}
.comunicateAl{

  background-color: #F39C12;
  border-radius: 6px;
  width: 57%;
  text-align: center;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding: 2px;
}

.comunicateAl p{
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 10px;
  font-style: italic;

}

.comunicateAl h3{
   color: white;
   margin-top: 0;
   margin-bottom: 0;
   font-size: 20px;

}

p.comunicate {
  color: #F39C12  ;
  text-align: center;
  font-size: 1.4vh;
  text-decoration: underline;
  text-underline-position: under;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  font-size: 1.8vh;
  line-height: 4vh;
}
form.inputs div {

    display: flex;
    flex-flow: column;
    width: 45%;
    margin-top: 0.5vh;

}
.enviar input{

  background-color: #5D5B59;
  color: #F39C12;
  border-color: #F39C12;
  width: 40%;
  border-radius: 5px;

}


form.inputs div.enviar {

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;

}
div.articulos{

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5vh;
  background-color: whitesmoke;
  width: 87%;

}
article.art-add{


width: 50%;
font-size: 2.2vh;
text-align: center;
margin-bottom: 2vh;
border-bottom: groove;

}

article.sin-borde{

border-bottom: none;

}

article.art-add img {

    width:60%;
}
@media (min-width: 768px) {

body{
  background-image: url(../img/imagen-principal-desktop.jpg);
}

  img.mastercard {
      width: 30%;
      margin-top: 2.5vh;
  }

  .formulario{

    width: 50%;
    margin-top: 25vh;

  }

  h1 {
    font-size: 2.7vh;
    margin-bottom: 1.5vh;
  }

  p.comunicate{
    font-size: 1.7vh;
  }

div.articulos{

    flex-flow: row;
    margin-top: 6vh;

}

article.art-add{

    border-right: groove;
    font-size: 1.5vh;
    border-bottom: none;

}

article.art-add img {
    width: 35%;
    margin-top: -28px;
}

article.sin-borde {

border-right: none;

}

 article.texto-largo p{

  margin-bottom: 0px;
}

}

@media (min-width:1024px){


body{

  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-size: 130vh;

}
img.mastercard{

 width: 20%;
 margin-top: 2.5vh;

}

.formulario {
    width: 36%;
    margin-top: 27vh;
}
div.articulos {

    margin-top: 8vh;
    width: 60%;
}
article.art-add img {
      width: 34%;
      margin-top: -29px;

}
article.texto-largo p {
    margin-bottom: -6px;
    margin-top: 6px;
}





}
