*{
  box-sizing: border-box
}
body{
  margin: 0;
}
.container {
  margin: 0 auto;
  font-size: 10px; /* Base para las demás medidas en ems*/
}
p, label {
  font-family: 'Montserrat', sans-serif;
}
p{
  font-size: 1.6em;
}
.large{
  font-size: 0.9em;
}
/* Logo
================== */
.logo {
  text-align: center;
  margin: 4em 0;
}
.logo img{
  width: 305px;
}

/* Banner
================== */
.banner {
  position: relative;
}
img.background{
  width: 100%;
}

/* Main
============================ */
main{
  background: url(../img/main-banner.jpg) no-repeat center 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.claim {
  max-width: 440px;
  margin-bottom: 24px;
}
.claim img {
  width: 100%;
}
h1{
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-size: 2.7em;
  margin-top: 0;
}
.brand{
  text-transform: uppercase;
}
.comunicateAl img{
  max-width: 296px;
  width: 100%;
}
.comunicate{
  color: #e19d2f;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-underline-position: under;
  text-decoration: underline;
  line-height: 1.5em;
  letter-spacing: -1px;
}
/* Form
================== */
.formulario{
  text-align: center;
  max-width: 550px;
  background: #636363;
  border-radius: 16px;
  padding: 3em;
  color: #fff;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  flex-basis: 49%;
}
label{
  font-size: 1.5em;
  margin-bottom: 10px;
}
input{
  font-size: 1.6em;
  padding: 0.16em 0;
}
.phone-number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.phone-number .prefix{
  width: 25%
}
.phone-number .number{
  width: 70%;
}
.button {
   -webkit-appearance: none; /* Para sacar la adaptación rara de zafari*/
   text-transform: uppercase;
   background-color: transparent;
   padding: 6px 9px;
   border-radius: 4px;
   border: 1px solid #e19d2f;
   color: #e19d2f;
   font-weight: bold;
   font-size: 1.4em;
   cursor: pointer;
}
/* Footer
================== */
.benefits{
  max-width: 832px;
  margin: 7em 0 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.benefits article {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.art-add img{
  z-index: 999;
}
.art-add .content{
  background-color: #e9eaec;
  margin-top: -45px;
  padding-top: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content p{
  border-right: 2px solid #606060;
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.art-add:last-child p{
  border: none;
}

/*
Responsive
=========================== */
@media(max-width:850px){
  .benefits{
    flex-direction: column;
    max-width: 550px;
  }
  .art-add {
    margin-bottom: 3em;
  }
  .art-add .content{
    width: 100%;
    padding: 45px 90px 20px;
  }
  .content p{
    display: block;
    border: none;
  }
}

@media (max-width: 560px) {
  .row{
    flex-direction: column;
  }
  .art-add .content{
    width: 100%;
    padding: 45px 40px 20px;
  }
}
